html, body { height: 100%; margin: 0; padding: 0; }
.container-fluid, .row {
  height: 100%;
}


#map {
  height: 100%;
}

#map img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
